<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="icloudapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("bsactivity:bsactivityshop:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("bsactivity:bsactivityshop:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("bsactivity:bsactivityshop:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">店铺名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.shopName" placeholder="店铺名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">店铺图标</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.shopImg" placeholder="店铺图标"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">店铺专卖证</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.shopLicense" placeholder="店铺专卖证"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">店铺联系人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.contactMan" placeholder="店铺联系人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">联系人号码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.contactPhone" placeholder="联系人号码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">省</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.provinceName" placeholder="省"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">市</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.cityName" placeholder="市"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">县</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.countyName" placeholder="县"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">详细地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.address" placeholder="详细地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">经度</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.lnt" placeholder="经度"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">纬度</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.lat" placeholder="纬度"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.createMan" placeholder="创建人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.modifyTime" placeholder="修改时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.modifyMan" placeholder="修改人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">openid</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.openid" placeholder="openid"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">status 0停用 1启用</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bsactivityShop.status" placeholder="status 0停用 1启用"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/bsactivity/bsactivityshop.js?_${.now?long}"></script>
</body>
</html>